version: "3.9"

services:
  db:
    image: postgres:16
    container_name: branch_db

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    volumes:
      - db_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10

    restart: unless-stopped

  api:
    image: ghcr.io/vaibhav979/loan-app:latest
    container_name: branch_api

    env_file:
      - .env

    depends_on:
      db:
        condition: service_healthy

    ports:
      - "80:${API_PORT}"

    # volumes:
    #   - ./certs:/app/certs:ro

    command: >
      gunicorn -w 4
      -b 0.0.0.0:${API_PORT}
      wsgi:app

    restart: unless-stopped

volumes:
  db_data:
