version: "3.9"

services:
  db:
    image: postgres:16
    container_name: branch_db

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    volumes:
      - db_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10

    restart: unless-stopped

    networks:
      - backend

  api:
    image: ghcr.io/vaibhav979/loan-api:latest
    container_name: branch_api

    env_file:
      - .env

    depends_on:
      db:
        condition: service_healthy

    ports:
      - "8000:8000"

    command: >
      gunicorn -w 4
      -b 0.0.0.0:8000
      wsgi:app

    restart: unless-stopped

    networks:
      - backend

volumes:
  db_data:

networks:
  backend:
